{
  "singleAttributePerLine": true,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "parser": "typescript",
  "arrowParens": "always"
}